.postcontainer{       
    
    display:inline-block; 
    margin:3px;    
    border: solid rgb(241, 154, 154) 0.01px;
    border-radius: 2%;
    box-shadow: 3px 2px #443939;
    padding: 5px;
    width: 47%;
    background:rgb(217, 243, 226);
    
}

.image {
    border-radius: 9px;    
    opacity:0.6;
}
.image:hover {
    opacity: 0.9;
}